<div class="row">
    <div class="col-md-12">
        <form id="basicSearch" class="form-inline" method="get" action="/arkivFind" onSubmit="return formular(this);">
            <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Søg i arkivet..." name="fritekst"
                required>
            <button class="btn btn-default mb-2" id="btnBasicSearch" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>
